<div class="panel-heading">
    用户管理
</div>
<ul class="list-group">
    <li class="list-group-item"><a href="/admin/userlist">用户列表</a></li>
    <li class="list-group-item"><a href="/admin/adduser">增加用户</a></li>
</ul>
<div class="panel-heading">
    商品管理
</div>
<ul class="list-group">
    <li class="list-group-item"><a href="/admin/goodslist">商品列表</a></li>
    <li class="list-group-item"><a href="/admin/addgoods">增加商品</a></li>
</ul>
<div class="panel-heading">
    分类管理`
</div>
<ul class="list-group">
    <li class="list-group-item"><a href="">商品分类列表</a></li>
    <li class="list-group-item"><a href="">增加商品分类</a></li>
</ul>