<div class="container-fluid navwidth ">
    <div class="navbar navbar-default bg-black-g">
        <div class="col-sm-2">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="">
                    LOGO
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="collapse navbar-collapse" id="bs-collapse">
                <ul class="nav navbar-nav">
                    <li class="bg-black-g"><a href="" class="font-write">商品管理</a></li>
                    <li class="bg-black-g"><a href="" class="font-write">系统设置</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-2 exit">
            <div><a href="logon" class="font-write">欢迎你,<span><%= username%></span></a></div>
            <div><a href="/admin/signout" class="font-write">安全退出</a></div>
        </div>
    </div>
</div>